html,body{
    height: 100%;
}

@font-face {
  font-family: yofont;
  src: url("/helpyou11/images/iconfont/iconfont.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/helpyou1/images/iconfont/iconfont-menu.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/helpyou1/images/iconfont/iconfont-footer.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont-footer.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/helpyou1/images/iconfont/iconfont-personal.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont-personal.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/helpyou1/images/iconfont/iconfont-email.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont-email.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/helpyou1/images/iconfont/iconfont-xiaoyu.woff") format("woff"), url("/helpyou1/images/iconfont/iconfont-xiaoyu.ttf") format("truetype");
}